body {
  background-color: #111111;
  margin: 0;
}

header {
  height: 700px;
  position: relative;
}

header .header-bg,
header .header-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
}

header .header-bg {
  background-image: url(https://wallpapercave.com/wp/wp4275031.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

header .header-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#111111), to(rgba(17, 17, 17, 0)));
  background-image: linear-gradient(0deg, #111111, rgba(17, 17, 17, 0));
}

.header-container {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  left: 50%;
  width: 80%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.logo img {
  width: 120px;
  height: 60px;
  background-color: #f54343;
}

.top-nav a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.top-nav a:hover {
  background-color: rgba(255, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.controls button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: white;
  border-radius: 50%;
  margin: 10px 30px;
}

.controls button:last-child {
  margin-right: 0;
}

.hero {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  color: white;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .top-nav {
    display: none;
  }
  .controls {
    display: none;
  }
  .logo img {
    background-color: cyan;
  }
}

.movies-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 100px auto 0;
}

.movies-section .movie {
  width: 25%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.movies-section .movie img {
  width: 80%;
  border-radius: 10px;
}

.movies-section .movie h3 {
  color: white;
  margin: 0 0 30px 0;
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.movies-section .movie:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.movie-details {
  width: 1200px;
  margin: 100px auto 0;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 30% 50%;
      grid-template-columns: 20% 30% 50%;
  -ms-grid-rows: 10% 45% 45%;
      grid-template-rows: 10% 45% 45%;
  color: white;
}

.movie-details .episodes {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  background-color: aqua;
}

.movie-details .global-title {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: pink;
  font-size: 1.6rem;
}
/*# sourceMappingURL=styles.css.map */